In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
spark = SparkSession.builder.master("local").appName("Master Node").getOrCreate()

In [ ]:
df = spark.read.csv("insurance.csv", sep=',', header=True, inferSchema=True)

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head()

Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924)

In [ ]:
df.head(10)

[Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924),
 Row(age=18, sex='male', bmi=33.77, children=1, smoker='no', region='southeast', charges=1725.5523),
 Row(age=28, sex='male', bmi=33.0, children=3, smoker='no', region='southeast', charges=4449.462),
 Row(age=33, sex='male', bmi=22.705, children=0, smoker='no', region='northwest', charges=21984.47061),
 Row(age=32, sex='male', bmi=28.88, children=0, smoker='no', region='northwest', charges=3866.8552),
 Row(age=31, sex='female', bmi=25.74, children=0, smoker='no', region='southeast', charges=3756.6216),
 Row(age=46, sex='female', bmi=33.44, children=1, smoker='no', region='southeast', charges=8240.5896),
 Row(age=37, sex='female', bmi=27.74, children=3, smoker='no', region='northwest', charges=7281.5056),
 Row(age=37, sex='male', bmi=29.83, children=2, smoker='no', region='northeast', charges=6406.4107),
 Row(age=60, sex='female', bmi=25.84, children=0, smoker='no', region='northwest', charges=28923.13692)]

In [ ]:
df.describe().show()

+-------+------------------+------+------------------+-----------------+------+---------+------------------+
|summary|               age|   sex|               bmi|         children|smoker|   region|           charges|
+-------+------------------+------+------------------+-----------------+------+---------+------------------+
|  count|              1338|  1338|              1338|             1338|  1338|     1338|              1338|
|   mean| 39.20702541106129|  null|30.663396860986538|  1.0949177877429|  null|     null|13270.422265141257|
| stddev|14.049960379216147|  null| 6.098186911679012|1.205492739781914|  null|     null|12110.011236693992|
|    min|                18|female|             15.96|                0|    no|northeast|         1121.8739|
|    max|                64|  male|             53.13|                5|   yes|southwest|       63770.42801|
+-------+------------------+------+------------------+-----------------+------+---------+------------------+

In [ ]:
df.dtypes

[('age', 'int'),
 ('sex', 'string'),
 ('bmi', 'double'),
 ('children', 'int'),
 ('smoker', 'string'),
 ('region', 'string'),
 ('charges', 'double')]

In [ ]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

In [ ]:
df.distinct().count()

1337

In [ ]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.describe('age').show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|              1338|
|   mean| 39.20702541106129|
| stddev|14.049960379216147|
|    min|                18|
|    max|                64|
+-------+------------------+

In [ ]:
df.select('age', 'smoker', 'charges').show(10)

+---+------+-----------+
|age|smoker|    charges|
+---+------+-----------+
| 19|   yes|  16884.924|
| 18|    no|  1725.5523|
| 28|    no|   4449.462|
| 33|    no|21984.47061|
| 32|    no|  3866.8552|
| 31|    no|  3756.6216|
| 46|    no|  8240.5896|
| 37|    no|  7281.5056|
| 37|    no|  6406.4107|
| 60|    no|28923.13692|
+---+------+-----------+
only showing top 10 rows

In [ ]:
df.groupby("smoker").count().show()

+------+-----+
|smoker|count|
+------+-----+
|    no| 1064|
|   yes|  274|
+------+-----+

In [ ]:
df.filter(df['smoker'] == 'yes').show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 34|female| 31.92|       1|   yes|northeast| 37701.8768|
| 31|  male|  36.3|       2|   yes|southwest|    38711.0|
| 22|  male|  35.6|       0|   yes|southwest|  35585.576|
| 28|  male|  36.4|       1|   yes|southwest|51194.55914|
| 35|  male| 36.67|       1|   yes|northeast| 39774.2763|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 36|  male|  35.2|       1|   yes|southeast|  38709.176|
| 48|  male|  28.0|       1|   yes|southwest|  23568.272|
| 36|  male| 34.43|       0|   yes|southeast| 37742.5757|
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 18|  male| 31.68|       2|   yes|southeast| 34303.1672|
| 53|female| 22.88|       1|   yes|southeast| 23244.7902|
| 20|female| 22.42|       0|   yes|northwest| 14711.7438|
| 28|  male| 23.98|       3|   yes|southeast| 17663.1442|
| 27|female| 24.75|       0|   yes|southeast| 16577.7795|
| 22|  male| 37.62|       1|   yes|southeast| 37165.1638|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.filter(df['age'] > 50).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 60|female|36.005|       0|    no|northeast|13228.84695|
| 59|female| 27.72|       3|    no|southeast| 14001.1338|
| 63|female|23.085|       0|    no|northeast|14451.83515|
| 55|female|32.775|       2|    no|northwest|12268.63225|
| 63|  male| 28.31|       0|    no|northwest| 13770.0979|
| 62|female|32.965|       3|    no|northwest|15612.19335|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 55|  male|  37.3|       0|    no|southwest|20630.28351|
| 60|female| 24.53|       0|    no|southeast| 12629.8967|
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 58|female|31.825|       2|    no|northeast|13607.36875|
| 53|female| 22.88|       1|   yes|southeast| 23244.7902|
| 64|  male|  24.7|       1|    no|northwest|30166.61817|
| 61|female|  39.1|       2|    no|southwest|  14235.072|
| 53|female|  28.1|       3|    no|southwest|  11741.726|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.filter(df['age'] > 50).filter(df['smoker'] == 'yes').show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 53|female| 22.88|       1|   yes|southeast| 23244.7902|
| 57|female| 31.16|       0|   yes|northwest| 43578.9394|
| 59|  male| 29.83|       3|   yes|northeast| 30184.9367|
| 64|female|  31.3|       2|   yes|southwest|  47291.055|
| 56|  male| 19.95|       0|   yes|northeast| 22412.6485|
| 61|female| 29.92|       3|   yes|southeast| 30942.1918|
| 63|  male| 35.09|       0|   yes|southeast| 47055.5321|
| 63|female|  37.7|       0|   yes|southwest|   48824.45|
| 63|female| 27.74|       0|   yes|northeast| 29523.1656|
| 63|female|  32.2|       2|   yes|southwest|  47305.305|
| 54|  male| 34.21|       2|   yes|southeast| 44260.7499|
| 56|  male| 33.63|       0|   yes|northwest| 43921.1837|
| 52|  male| 24.32|       3|   yes|northeast| 24869.8368|
| 54|  male|40.565|       3|   yes|northeast|48549.17835|
| 59|female|36.765|       1|   yes|northeast|47896.79135|
| 53|female| 22.61|       3|   yes|northeast| 24873.3849|
| 64|female|  33.8|       1|   yes|southwest|   47928.03|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.orderBy('age', ascending=False).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 64|  male|  24.7|       1|    no|northwest|30166.61817|
| 64|female|  31.3|       2|   yes|southwest|  47291.055|
| 64|female| 39.33|       0|    no|northeast| 14901.5167|
| 64|female|  33.8|       1|   yes|southwest|   47928.03|
| 64|  male|  34.5|       0|    no|southwest|  13822.803|
| 64|female|30.115|       3|    no|northwest|16455.70785|
| 64|  male|  25.6|       2|    no|southwest|  14988.432|
| 64|female|32.965|       0|    no|northwest|14692.66935|
| 64|  male| 39.16|       1|    no|southeast| 14418.2804|
| 64|  male| 33.88|       0|   yes|southeast| 46889.2612|
| 64|  male| 40.48|       0|    no|southeast| 13831.1152|
| 64|female| 39.05|       3|    no|southeast| 16085.1275|
| 64|  male| 38.19|       0|    no|northeast| 14410.9321|
| 64|female| 22.99|       0|   yes|southeast| 27037.9141|
| 64|  male|37.905|       0|    no|northwest|14210.53595|
| 64|female|  39.7|       0|    no|southwest|  14319.031|
| 64|female| 35.97|       0|    no|southeast| 14313.8463|
| 64|female|31.825|       2|    no|northeast|16069.08475|
| 64|female|26.885|       0|   yes|northwest|29330.98315|
| 64|  male| 26.41|       0|    no|northeast| 14394.5579|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.groupby("smoker").mean('age', 'bmi', 'charges').show()

+------+-----------------+------------------+-----------------+
|smoker|         avg(age)|          avg(bmi)|     avg(charges)|
+------+-----------------+------------------+-----------------+
|    no|39.38533834586466|30.651795112781922|8434.268297856199|
|   yes|38.51459854014598|30.708448905109503|32050.23183153285|
+------+-----------------+------------------+-----------------+

In [ ]:
df.groupby("smoker").max('age', 'bmi', 'charges').show()

+------+--------+--------+------------+
|smoker|max(age)|max(bmi)|max(charges)|
+------+--------+--------+------------+
|    no|      64|   53.13| 36910.60803|
|   yes|      64|   52.58| 63770.42801|
+------+--------+--------+------------+

In [ ]:
df.groupby("smoker").min('age', 'bmi', 'charges').show()

+------+--------+--------+------------+
|smoker|min(age)|min(bmi)|min(charges)|
+------+--------+--------+------------+
|    no|      18|   15.96|   1121.8739|
|   yes|      18|  17.195|  12829.4551|
+------+--------+--------+------------+

In [ ]:
df.select('age').show()

+---+
|age|
+---+
| 19|
| 18|
| 28|
| 33|
| 32|
| 31|
| 46|
| 37|
| 37|
| 60|
| 25|
| 62|
| 23|
| 56|
| 27|
| 19|
| 52|
| 23|
| 56|
| 30|
+---+
only showing top 20 rows

In [ ]:
df.filter(df['age'] > 50).filter(df['smoker'] == 'yes').orderBy("age").show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 51|female| 34.96|       2|   yes|northeast| 44641.1974|
| 51|female| 37.05|       3|   yes|northeast| 46255.1125|
| 51|female| 38.06|       0|   yes|southeast| 44400.4064|
| 51|  male|  42.9|       2|   yes|southeast|  47462.894|
| 51|  male| 23.21|       1|   yes|southeast| 22218.1149|
| 51|  male|24.795|       2|   yes|northwest|23967.38305|
| 52|  male|  41.8|       2|   yes|southeast|  47269.854|
| 52|  male| 24.32|       3|   yes|northeast| 24869.8368|
| 52|  male|34.485|       3|   yes|northwest|60021.39897|
| 52|  male| 27.36|       0|   yes|northwest| 24393.6224|
| 52|female|  25.3|       2|   yes|southeast|  24667.419|
| 52|female| 24.13|       1|   yes|northwest| 23887.6627|
| 53|female| 22.88|       1|   yes|southeast| 23244.7902|
| 53|female| 22.61|       3|   yes|northeast| 24873.3849|
| 53|  male|34.105|       0|   yes|northeast|43254.41795|
| 53|  male|  20.9|       0|   yes|southeast|  21195.818|
| 53|female| 36.86|       3|   yes|northwest| 46661.4424|
| 54|  male| 34.21|       2|   yes|southeast| 44260.7499|
| 54|  male|40.565|       3|   yes|northeast|48549.17835|
| 54|  male|  25.1|       3|   yes|southwest|  25382.297|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.where((df['smoker'] == 'yes') & (df['region'] == 'northwest')).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 20|female| 22.42|       0|   yes|northwest| 14711.7438|
| 45|  male|22.895|       2|   yes|northwest|21098.55405|
| 57|female| 31.16|       0|   yes|northwest| 43578.9394|
| 20|  male|28.025|       1|   yes|northwest|17560.37975|
| 32|female|17.765|       2|   yes|northwest| 32734.1863|
| 30|  male| 28.69|       3|   yes|northwest| 20745.9891|
| 46|  male|30.495|       3|   yes|northwest|40720.55105|
| 42|female|  26.6|       0|   yes|northwest|  21348.706|
| 19|  male| 29.07|       0|   yes|northwest| 17352.6803|
| 56|  male| 33.63|       0|   yes|northwest| 43921.1837|
| 19|  male| 31.92|       0|   yes|northwest| 33750.2918|
| 19|  male|36.955|       0|   yes|northwest|36219.40545|
| 31|  male| 34.39|       3|   yes|northwest| 38746.3551|
| 45|  male| 36.48|       2|   yes|northwest| 42760.5022|
| 52|  male| 27.36|       0|   yes|northwest| 24393.6224|
| 23|female| 28.31|       0|   yes|northwest| 18033.9679|
| 63|female| 26.98|       0|   yes|northwest| 28950.4692|
| 56|  male|26.695|       1|   yes|northwest|26109.32905|
| 61|  male| 28.31|       1|   yes|northwest| 28868.6639|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.groupBy('smoker').pivot('region').avg('charges').show()

+------+------------------+-----------------+-----------------+-----------------+
|smoker|         northeast|        northwest|        southeast|        southwest|
+------+------------------+-----------------+-----------------+-----------------+
|    no| 9165.531671708171|8556.463715205993|8032.216308937727|8019.284513071162|
|   yes|29673.536472835818|30192.00318241379|34844.99682362637| 32269.0634936207|
+------+------------------+-----------------+-----------------+-----------------+

In [ ]:
df.groupBy('smoker', 'sex').pivot('region').avg('charges').show()

+------+------+------------------+------------------+-----------------+------------------+
|smoker|   sex|         northeast|         northwest|        southeast|         southwest|
+------+------+------------------+------------------+-----------------+------------------+
|    no|female| 9640.426983553025|  8786.99867866667|8440.205551942441| 8234.091260141842|
|   yes|female| 28032.04639758621|29670.824945517237|33034.82071638889|31687.988429999998|
|   yes|  male|30926.252582894744|30713.181419310342|36029.83936654546|32598.862854054067|
|    no|  male| 8664.042222400003| 8320.689320757572|7609.003586716417|7778.9055342063475|
+------+------+------------------+------------------+-----------------+------------------+

In [ ]:
df=df.withColumnRenamed("age", "Age")
df=df.withColumnRenamed("sex", "Sex")
df=df.withColumnRenamed("bmi", "BMI")
df=df.withColumnRenamed("children", "Children")
df=df.withColumnRenamed("smoker", "Smoker")
df=df.withColumnRenamed("region", "Region")
df=df.withColumnRenamed("charges", "Charges")

df.show(5)

+---+------+------+--------+------+---------+-----------+
|Age|   Sex|   BMI|Children|Smoker|   Region|    Charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
+---+------+------+--------+------+---------+-----------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import corr

In [ ]:
data = df.withColumn('new_column', df['Age']+df['BMI'])
data.show(5)

+---+------+------+--------+------+---------+-----------+------------------+
|Age|   Sex|   BMI|Children|Smoker|   Region|    Charges|        new_column|
+---+------+------+--------+------+---------+-----------+------------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|              46.9|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|             51.77|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|              61.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|            55.705|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|60.879999999999995|
+---+------+------+--------+------+---------+-----------+------------------+
only showing top 5 rows