In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=9717d8b3cac881263f2826f3423fc544366cb05ba2213caa08e439c6465616ff
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
bank_file = 'gdrive/MyDrive/Bank_churn_modelling - Copy.csv'
stock_file = 'gdrive/MyDrive/appl_stock.csv'

In [ ]:
spark=SparkSession.builder.appName('spark_df').getOrCreate()

In [ ]:
df_bank = spark.read.csv(bank_file, header=True, inferSchema=True)
df_stock = spark.read.csv(stock_file, header=True, inferSchema=True)

In [ ]:
df_bank.show(10)
df_stock.show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 10 rows

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 10 rows

In [ ]:
df_bank.select('Age', 'CreditScore').show(10)

+---+-----------+
|Age|CreditScore|
+---+-----------+
| 42|        619|
| 41|        608|
| 42|        502|
| 39|        699|
| 43|        850|
| 44|        645|
| 50|        822|
| 29|        376|
| 44|        501|
| 27|        684|
+---+-----------+
only showing top 10 rows

In [ ]:
df_bank.withColumn('Age', df_bank['Age'] - 100).show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female|-58|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female|-59|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female|-58|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female|-61|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female|-57|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|     Chu|        645|    Spain|  Male|-56|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male|-50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|  Obinna|        376|  Germany|Female|-71|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|      He|        501|   France|  Male|-56|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male|-73|     2|134603.88|            1|        1|             1|       71725.73|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 10 rows

In [ ]:
df_bank.filter(df_bank['age'] > 21).show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 10 rows

In [ ]:
df_bank.filter(df_bank['Gender'] == 'Male').show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|  Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173| Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       16|  15643966| Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|   Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       19|  15661507| Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       21|  15577657|McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 10 rows

In [ ]:
df_bank.filter(df_bank['Gender'] == 'Male').count()

5457

In [ ]:
df_bank.filter((df_bank['Gender'] == 'Male') & (df_bank['Age'] == 69)).show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|      808|  15798906|       Cox|        628|   France|  Male| 69|     5|      0.0|            2|        1|             1|       181964.6|     0|
|     1408|  15600821|     Hardy|        721|   France|  Male| 69|     2|108424.19|            1|        1|             1|      178418.35|     0|
|     1544|  15747677|    Gordon|        656|    Spain|  Male| 69|     6|163975.09|            1|        1|             1|        36108.5|     0|
|     2909|  15570769|    Kibble|        494|   France|  Male| 69|     9|  93320.8|            1|        1|             1|       24489.44|     0|
|     3204|  15787550|      Chao|        719|   France|  Male| 69|     3|      0.0|            2|        1|             1|       58320.06|     0|
|     3528|  15650545| Tomlinson|        849|   France|  Male| 69|     7| 71996.09|            1|        1|             1|      139065.94|     0|
|     4314|  15687079|      King|        646|    Spain|  Male| 69|    10|115462.44|            1|        1|             0|       40421.87|     0|
|     5818|  15656865|      Gray|        613|  Germany|  Male| 69|     9| 78778.49|            1|        0|             1|        8751.59|     0|
|     6047|  15606435|      Wall|        593|  Germany|  Male| 69|     2|187013.13|            2|        0|             1|      105898.69|     0|
|     8305|  15792868|    Mickey|        675|   France|  Male| 69|     1|      0.0|            2|        1|             0|      157097.09|     0|
|     8395|  15597983|     Brown|        692|   France|  Male| 69|    10|154953.94|            1|        1|             1|       70849.47|     0|
|     9403|  15674156|Tretiakova|        810|  Germany|  Male| 69|     3| 27288.43|            1|        1|             1|       110509.9|     0|
|     9507|  15661380|    Walker|        682|   France|  Male| 69|     6|      0.0|            2|        0|             1|      149604.18|     0|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+

In [ ]:
df_bank.where((df_bank['Exited'] == 1) & (df_bank['Age'] == 69)).show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|      824|  15757811|        Lloyd|        732|    Spain|Female| 69|     9|137453.43|            1|        0|             1|      110932.24|     1|
|     9748|  15775761|Iweobiegbunam|        610|  Germany|Female| 69|     5| 86038.21|            3|        0|             0|      192743.06|     1|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+

In [ ]:
sh = df_bank.schema

In [ ]:
# Union and Append operations
df2 = df_bank.head(5)
#df2 = spark.createDataFrame(df2)
rdd = spark.sparkContext.parallelize(df2)

In [ ]:
newdf = spark.createDataFrame(rdd, schema=sh)

In [ ]:
newdf.show()

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+

In [ ]:
data = df_bank.union(newdf)
data.count()

10005

In [ ]:
data.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [ ]:
def power(a):
  return a**2
power(10)

100

In [ ]:
from pyspark.sql.functions import udf

In [ ]:
power_udf = udf(power)

In [ ]:
df_bank.select(power_udf(df_bank['Age'])).show(10)

+----------+
|power(Age)|
+----------+
|      1764|
|      1681|
|      1764|
|      1521|
|      1849|
|      1936|
|      2500|
|       841|
|      1936|
|       729|
+----------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import max, mean, min, corr, covar_samp, covar_pop, stddev, kurtosis, skewness

In [ ]:
# to combine 2 dataframes

# not using the dataframes so ill just write the commented out commands

#expression = df1['cc'] = df2['cc']
#join_type="inner"
#data=df2.join(df1, expression, join_type)

In [ ]:
df_stock.show(10)

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import format_number, to_timestamp

In [ ]:
from pyspark.sql.functions import hours, dayofmonth, dayofweek, dayofyear, year, date_format, weekofyear, month

In [ ]:
df_stock.select(month(df_stock['Date'])).show(10)

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 10 rows

In [ ]:
df_stock.select(year(df_stock['Date'])).show(10)

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 10 rows

# RDD Python API

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
conf=SparkConf().setAppName("RDD")

In [ ]:
data = ["spark is a bigdata solution", "holy shit these examples are fucking useless", "why the fuck am i wasting my time with this"]

In [ ]:
rdd = spark.sparkContext.parallelize(data)

In [ ]:
print(rdd)

ParallelCollectionRDD[103] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
rdd.collect()

['spark is a bigdata solution',
 'holy shit these examples are fucking useless',
 'why the fuck am i wasting my time with this']

In [ ]:
def upper(s):
  return s.upper()

In [ ]:
stringrdd=rdd.map(upper)

In [ ]:
stringrdd.collect()

['SPARK IS A BIGDATA SOLUTION',
 'HOLY SHIT THESE EXAMPLES ARE FUCKING USELESS',
 'WHY THE FUCK AM I WASTING MY TIME WITH THIS']

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10]
rdd=spark.sparkContext.parallelize(data)

In [ ]:
rdd2=rdd.filter(lambda x:x%2==0)

In [ ]:
rdd2.collect()

[2, 4, 6, 8, 10]