In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 59.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=02c2332cc2012afef9499d09833f6b3215796b2fe503f596ee6091b19cfc5524
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
gdp_file = 'gdrive/MyDrive/gdp.csv'

In [ ]:
spark=SparkSession.builder.appName('sparkSQL').getOrCreate()

In [ ]:
data = spark.read.csv(gdp_file, header=True, inferSchema=True)

In [ ]:
data.show(10)

+------------+------------+----+-------------------+
|Country Name|Country Code|Year|              Value|
+------------+------------+----+-------------------+
|  Arab World|         ARB|1968|2.57606830410857E10|
|  Arab World|         ARB|1969|2.84342036154829E10|
|  Arab World|         ARB|1970|3.13854996640672E10|
|  Arab World|         ARB|1971|3.64269098883928E10|
|  Arab World|         ARB|1972|4.33160566154562E10|
|  Arab World|         ARB|1973|5.50183949455825E10|
|  Arab World|         ARB|1974|1.05145803084377E11|
|  Arab World|         ARB|1975|1.16337021938341E11|
|  Arab World|         ARB|1976|1.44846175400488E11|
|  Arab World|         ARB|1977|1.67308327683593E11|
+------------+------------+----+-------------------+
only showing top 10 rows

In [ ]:
data.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Value: double (nullable = true)

In [ ]:
data.columns

['Country Name', 'Country Code', 'Year', 'Value']

In [ ]:
type(data.columns)

list

In [ ]:
data.createOrReplaceTempView('GDP') # creates a temporary view 'GDP' of data

In [ ]:
spark.sql("SELECT * FROM GDP").show(5)

+------------+------------+----+-------------------+
|Country Name|Country Code|Year|              Value|
+------------+------------+----+-------------------+
|  Arab World|         ARB|1968|2.57606830410857E10|
|  Arab World|         ARB|1969|2.84342036154829E10|
|  Arab World|         ARB|1970|3.13854996640672E10|
|  Arab World|         ARB|1971|3.64269098883928E10|
|  Arab World|         ARB|1972|4.33160566154562E10|
+------------+------------+----+-------------------+
only showing top 5 rows

In [ ]:
spark.sql("SELECT `Country Name` FROM GDP").show(5)

+------------+
|Country Name|
+------------+
|  Arab World|
|  Arab World|
|  Arab World|
|  Arab World|
|  Arab World|
+------------+
only showing top 5 rows

In [ ]:
spark.sql("SELECT `Country Name`, length(`Country Name`) FROM GDP").show(5)

+------------+--------------------+
|Country Name|length(Country Name)|
+------------+--------------------+
|  Arab World|                  10|
|  Arab World|                  10|
|  Arab World|                  10|
|  Arab World|                  10|
|  Arab World|                  10|
+------------+--------------------+
only showing top 5 rows

In [ ]:
spark.sql("SELECT `Country Name`, `Country Code` FROM GDP where Year==2000 and `Country Code` == 'ECA'").show(5)

+--------------------+------------+
|        Country Name|Country Code|
+--------------------+------------+
|Europe & Central ...|         ECA|
+--------------------+------------+

In [ ]:
spark.sql("SELECT * FROM GDP where Year==2000 order by Value desc").show(10)

+--------------------+------------+----+-------------------+
|        Country Name|Country Code|Year|              Value|
+--------------------+------------+----+-------------------+
|               World|         WLD|2000| 3.3566568243507E13|
|         High income|         HIC|2000|2.75855770295863E13|
|        OECD members|         OED|2000|2.73774941050207E13|
|Post-demographic ...|         PST|2000|2.62962546828978E13|
|       North America|         NAC|2000|1.10305526672526E13|
|       United States|         USA|2000|       1.0284779E13|
|Europe & Central ...|         ECS|2000|1.00253312554122E13|
|      European Union|         EUU|2000|8.91244418183919E12|
| East Asia & Pacific|         EAS|2000|8.29188137220196E12|
|           Euro area|         EMU|2000|6.48732547409912E12|
+--------------------+------------+----+-------------------+
only showing top 10 rows

In [ ]:
spark.sql("SELECT mean(Value) FROM GDP where `Country Code` == 'USA'").show()

+--------------------+
|         mean(Value)|
+--------------------+
|6.773383877192982E12|
+--------------------+

In [ ]:
spark.sql("SELECT count(Value) FROM GDP where `Country Code` == 'USA'").show()

+------------+
|count(Value)|
+------------+
|          57|
+------------+

In [ ]:
spark.sql("SELECT sum(Value) FROM GDP where Year == 2000 and `Country Name` in ('North America', 'India')").show()

+--------------------+
|          sum(Value)|
+--------------------+
|1.149269946658937E13|
+--------------------+

In [ ]:
spark.sql("SELECT sum(Value) FROM GDP where Year == 2000 and `Country Name` in ('North America', 'India', 'Japan')").show()

+--------------------+
|          sum(Value)|
+--------------------+
|1.638021912733423E13|
+--------------------+

In [ ]:
ccp_file = 'gdrive/MyDrive/combined_cycle_power_plant.csv'

In [ ]:
ccp_data = spark.read.csv(ccp_file, header=True, inferSchema=True, sep=';')

In [ ]:
ccp_data.show()

+-----------+--------------+----------------+-----------------+-------------+
|temperature|exhaust_vacuum|ambient_pressure|relative_humidity|energy_output|
+-----------+--------------+----------------+-----------------+-------------+
|       9.59|         38.56|         1017.01|             60.1|        481.3|
|      12.04|         42.34|         1019.72|            94.67|       465.36|
|      13.87|         45.08|         1024.42|            81.69|       465.48|
|      13.72|          54.3|         1017.89|            79.08|       467.05|
|      15.14|         49.64|         1023.78|             75.0|       463.58|
|      23.63|         60.93|         1006.41|            83.06|        439.9|
|      22.99|         61.02|         1009.88|            81.56|       440.85|
|      12.85|          40.0|         1015.89|            68.85|       463.74|
|      29.88|         68.08|         1011.14|            55.78|       429.33|
|      23.22|         66.56|         1002.47|            85.39|       437.11|
|       9.02|         38.08|         1019.02|            69.98|       478.32|
|      26.12|          75.6|         1017.41|            72.31|       439.68|
|      16.66|         36.71|         1013.68|            70.66|       466.07|
|      29.56|         52.84|         1006.09|            42.17|       436.46|
|       30.0|          61.5|          1009.4|            48.63|        435.6|
|      30.39|         70.98|         1007.55|            72.76|       435.48|
|      20.88|         47.45|          1007.5|            76.21|       449.34|
|      28.14|         61.47|         1009.69|            64.66|       435.35|
|      18.86|         46.48|         1007.28|            78.47|        452.0|
|      31.85|          68.3|         1014.76|            47.06|       428.72|
+-----------+--------------+----------------+-----------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import corr

In [ ]:
ccp_data.select(corr('temperature', 'exhaust_vacuum')).show()

+---------------------------------+
|corr(temperature, exhaust_vacuum)|
+---------------------------------+
|               0.8441067318678673|
+---------------------------------+

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
ccp_data.columns

['temperature',
 'exhaust_vacuum',
 'ambient_pressure',
 'relative_humidity',
 'energy_output']

In [ ]:
ass=VectorAssembler(inputCols=['temperature', 'exhaust_vacuum', 'ambient_pressure', 'relative_humidity'], outputCol='feature')

In [ ]:
finaldata = ass.transform(ccp_data)

In [ ]:
finaldata.show(5)

+-----------+--------------+----------------+-----------------+-------------+--------------------+
|temperature|exhaust_vacuum|ambient_pressure|relative_humidity|energy_output|             feature|
+-----------+--------------+----------------+-----------------+-------------+--------------------+
|       9.59|         38.56|         1017.01|             60.1|        481.3|[9.59,38.56,1017....|
|      12.04|         42.34|         1019.72|            94.67|       465.36|[12.04,42.34,1019...|
|      13.87|         45.08|         1024.42|            81.69|       465.48|[13.87,45.08,1024...|
|      13.72|          54.3|         1017.89|            79.08|       467.05|[13.72,54.3,1017....|
|      15.14|         49.64|         1023.78|             75.0|       463.58|[15.14,49.64,1023...|
+-----------+--------------+----------------+-----------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
finaldata = finaldata.select('feature', 'energy_output')

In [ ]:
finaldata.show(5)

+--------------------+-------------+
|             feature|energy_output|
+--------------------+-------------+
|[9.59,38.56,1017....|        481.3|
|[12.04,42.34,1019...|       465.36|
|[13.87,45.08,1024...|       465.48|
|[13.72,54.3,1017....|       467.05|
|[15.14,49.64,1023...|       463.58|
+--------------------+-------------+
only showing top 5 rows

In [ ]:
train_data, test_data = finaldata.randomSplit([0.7, 0.3]) #70%train and 30%test data

In [ ]:
finaldata.count()

9568

In [ ]:
train_data.count()

6693

In [ ]:
test_data.count()

2875

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
algo = LinearRegression(featuresCol='feature', labelCol='energy_output')

In [ ]:
algo.fit(train_data)

LinearRegressionModel: uid=LinearRegression_66166cdfcf8a, numFeatures=4

In [ ]:
model = algo.fit(train_data)

In [ ]:
model.coefficients

DenseVector([-1.9961, -0.227, 0.0573, -0.1599])

In [ ]:
model.intercept

459.49332430724974

In [ ]:
y_pred = model.transform(test_data)

In [ ]:
y_pred.show(5)

+--------------------+-------------+------------------+
|             feature|energy_output|        prediction|
+--------------------+-------------+------------------+
|[2.34,39.42,1028....|       490.34| 493.7067529004493|
|[2.58,39.42,1028....|       488.69| 493.3436836529176|
|[2.71,39.42,1026....|        489.3| 491.0364150193012|
|[3.26,41.31,996.3...|       489.38| 484.7486535601262|
|[3.31,39.42,1024....|       487.19|489.17731201139526|
+--------------------+-------------+------------------+
only showing top 5 rows